// This file contains all the scss styles related to the component
@import "styles/colors.scss";

.button {
  color: var(--color-primary);
  background-color: aqua;
}

button {
  color: var(--color-primary);
}
